.about-me {
    background-color: black;
    width: auto;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 20px;
    justify-content: center;
}

.skills {
    background-color: white;
    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    padding: 20px;
    justify-content: center;
}

h1 {
    font-size:xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    color:white;
}

h2 {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    color:white;
}

p {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    color:white;
}

ul {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
}

.picture {
    border-radius: 25px;
}